table{
    border: 5px outset #818181;
    border-spacing: 0px 0px; 
}
.td-close{
    border: 1px outset #cccccc ;
    background-color: #c1c1c1;
    width: 25px;
    height: 25px;
}
.td-open{
    border: 1px solid #000000 ;
    background-color: #747474;
    width: 25px;
    height: 25px;
}
.td-open-mine{
    border: 1px solid #000000 ;
    background-color: #747474;
    background-image: url("./mine.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.td-flag{
    border: 1px outset #cccccc ;
    background-color: #c1c1c1;
    background-image: url("./rflag.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}